<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sam Lachance</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
  </head>
  <body>
    <style type="text/css">
      body {
        font-family: 'Roboto';
        text-align: center;
      }

      .wrapper {
        max-width: 1200px;
        margin: 0 auto;
      }

      h1 {
        width: 100%;
        font-family: 'Raleway';
      }
    </style>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
